#page-teachers-list {
    width: 100vw;
    height: 100vh;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#page-teachers-list main {
    margin: 3.2rem auto;
    width: 90%;
}

#page-teachers-list button {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--color-secondary);
    color: var(--color-button-text);
    font: 700 1.6rem Archivo;
    border: none;
    outline: 0;
    padding: 0 1.6rem;
    align-self: flex-end;
}

@media (min-width: 700px) {
    #page-teachers-list {
        max-width: 100vw;
    }
    #search-teachers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }
    #page-teachers-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}